# Ignore bin and obj folders in each project
GrillPizzeriaOrderSystem/DTO/bin/
GrillPizzeriaOrderSystem/DTO/obj/

GrillPizzeriaOrderSystem/GrillPizzeriaOrderMiddleware/bin/
GrillPizzeriaOrderSystem/GrillPizzeriaOrderMiddleware/obj/

GrillPizzeriaOrderSystem/GrillPizzeriaOrderWebApp/bin/
GrillPizzeriaOrderSystem/GrillPizzeriaOrderWebApp/obj/

GrillPizzeriaOrderSystem/ModelConstants/bin/
GrillPizzeriaOrderSystem/ModelConstants/obj/

GrillPizzeriaOrderSystem/Moduls/bin/
GrillPizzeriaOrderSystem/Moduls/obj/

GrillPizzeriaOrderSystem/ViewModels/bin/
GrillPizzeriaOrderSystem/ViewModels/obj/

GrillPizzeriaOrderSystem/.vs/
