<select name="allergenId" class="form-select" id="allergenSelect">
    <option value="">Select an Allergen</option>
</select>

<script type="text/javascript">
    $(document).ready(function() {
        LoadAllergens();
    });

    function LoadAllergens(){
        $.ajax({
            url: '@Url.Action("GetAllDropDown", "Allergen")',
            dataType: "json",
            type: "GET",
            cache: false,
            success: function (response) {
                if (response.success) {
                    var allergen = response.data;
                    renderAllergenAsDropdown(allergen);
                } else {
                    alert(response.message);
                }
            },
            error: function (xhr, status, err) {
                console.error('AJAX error:', status, err, 'HTTP:', xhr.status, 'Response:', xhr.responseText);
                alert('AJAX: Error loading food categories');
            }
        });
    }

    function renderAllergenAsDropdown(allergens) {
        var html = '<option value="">Select an Allergen</option>';
        allergens.forEach(function(allergen) {
            html += `<option value="${allergen.id}">${allergen.name}</option>`;
        });
        $('#allergenSelect').html(html);
    }
</script>