@model ViewModels.AllergenDeleteViewModel


<div class="card-body">
    <form asp-controller="Allergen" asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="deleteSelect" class="form-label">Select Allergen</label>
            <select id="deleteSelect" class="allergenListDropdown form-select">
                <option value="0">Select an Allergen</option>
            </select>
            <input id="deleteSelectHiddenId" type="hidden" asp-for="id" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash me-2"></i>Delete
            </button>
        </div>
    </form>
</div>
