@model ViewModels.CategoryFoodDeleteViewModel


<div class="card-body">
    <form asp-controller="FoodCategory" asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="deleteSelect" class="form-label">Select Category</label>
            <select id="deleteSelect" class="foodCategoryListDropdown form-select">
                <option value="0">Select an Category</option>
            </select>
            <input id="deleteSelectHiddenId" type="hidden" asp-for="id" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash me-2"></i>Delete
            </button>
        </div>
    </form>
</div>
